<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>阅读app2</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <script src="../style/jquery.min.js"></script>
    <script src="../style/swiper.3.1.7.min.js"></script>
    <link rel="stylesheet" href="../style/weui.min.css">
    <link rel="stylesheet" href="../style/font-awesome.min.css">
    <link rel="stylesheet" href="../style/index.css">
</head>
<style>
.weui_tab_bd {
    height: auto;
    padding-bottom: 0;
}
</style>
<body>
  <div class="tabbar tabbar_wrap page_wrap" id="vueBox">
        <div class="weui_tab">

            <div class="weui_tab_bd" id="weui_tab_div">
                <!-- 搜索框 -->
                <form action="" method="GET">
                    <input type="hidden" name="i" value="2">
                    <input type="hidden" name="c" value="entry">
                    <input type="hidden" name="do" value="search">
                    <input type="hidden" name="m" value="fy_lessonv2">
                    <div class="index-header-search " style="top:0px;left:0px;">
                        <div class="u-search">
                            <i class="fa fa-search"></i>
                            <input type="search" name="keyword" class="search_input z-abled" autocorrect="off" placeholder="输入课程名称进行查找">
                        </div>
                    </div>
                </form>
                <!-- /搜索框 -->
                <!-- 广告轮播图 -->
                <div class="swiper-container swiper-container-horizontal swiper-container-3d swiper-container-coverflow">
                    <div class="swiper-wrapper">
                        <!--图片一-->
                        <div class="swiper-slide swiper-slide-active" style="width: 383px; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                            <a href="">
					<img class="swiper-lazy swiper-lazy-loaded" src="../style/azo41LDH7CChH7La6HAM7M1g1gl617.jpeg">
				</a>
                            <div class="swiper-slide-shadow-left" style="opacity: 0;"></div>
                            <div class="swiper-slide-shadow-right" style="opacity: 0;"></div>
                        </div>
                        <!--图片一end-->
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
                </div>
                <!-- /广告轮播图 -->
                <!-- 分类 -->
                <div class="grid_wrap bor_no">
                    <a class="grid_item uc-flex1" href=""
                     style="border-right: 1px solid rgb(241, 241, 245);"
                     v-for="item in datas.category_list"
                     :key="item.id"
                     >
                        <div class="grid_hd">
                            <img :src="item.ico" :alt="item.name">
                        </div>
                        <div class="grid_bd">
                            <p>{{item.name}}</p>
                        </div>
                    </a>
                    <span class="grid_item uc-flex1" @click="goClassify" tapmode  id="goClassify">
                        <div class="grid_hd">
                            <img src="../style/GFLcwuNFhzflZ9CzlvqVC9c5c8Jqce.png" alt="全部分类">
                        </div>
                        <div class="grid_bd">
                            <p>全部分类</p>
                        </div>
                    </span>
                </div>
                <!-- /分类 -->
                <!--  公告 -->
                <div>
                  <div class="gonggao_box">
                    <div class="gonggao_box_icon">
                      <img style="width: 32px; margin-top: 4px" src="http://shop.itischinese.com/addons/fy_lessonv2/template/mobile/images/ico-inform.png" alt="">
                    </div>
                    <ul class="gonggao_box_ul">
                      <li>{{datas.articlelist[0].title}}</li>
                    </ul>
                    <div class="gongggao_box_genduo">
                      更多
                    </div>
                  </div>
                </div>
                <!-- /公告 -->
                <!-- 限时折扣 -->
                <!-- /限时折扣 -->
                <!-- 最新课程 -->
                <div class="course_wrap mt10">
                    <h2 class="course_hd"><span class="bor-l"></span>最新更新</h2>
                    <ul class="newlesson-list"
                        v-for="item in datas.newlesson"
                        style="min-height:1px;">
                        <li class="lesson_list" @click="goLesson">
                            <a href="javascript:void(0);" class="package" id="lesson">
                                <div class="package__cover-wrap">
                                    <div class="package__cover"
                                        :style="{background: `url(${item.images})`}"
                                        >
                                        <span class="package__cover-tips package__cover-tips--status">{{item.buynum}}人已学习</span>
                                    </div>
                                </div>
                                <div class="package__content">
                                    <h3 class="package__name">{{item.bookname}}</h3>
                                    <div class="package__info">
                                        <span class="pink-color subhead">{{item.section.title}}</span>
                                    </div>
                                    <div class="package__info">
                                        <span class="grey-color">{{getDate(item.update_time)}} 更新</span>
                                        <div class="package__course-num"><i class="red-color">免费</i></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /最新课程 -->
                <!-- 课程板块遍历 -->
                <!-- /课程板块遍历 -->
            </div>
            <!-- 绑定手机号码 -->
            <!-- /绑定手机号码 -->
            <footer>
                <a href="">阅读app</a>
            </footer>
            <div id="spinners" style="display:none;">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>

        </div>
    </div>

    <div style="display:none;">
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<!-- <script type="text/javascript">
  apiready = function() {
    var h = $api.getStorage('main_h');
    $("body").height(h);
    api.setStatusBarStyle({
      style: 'light',
      color: '#FBFBFC'
    });
    };
  $(function(){
      var h = $(window).height();
      $("body").height(h);
    })
  $("#lesson").on('click',function(){
    api.openWin({
            name: '1.1lesson',
            url: '1.1lesson.html'
          });
  })
  $('#goClassify').on('click', function() {
    api.openWin({
        name: 'classify',
        url: 'classify.html',
        pageParam: {
            name: 'classify'
        }
    });

  })
</script> -->
<script src="../script/vue.js"></script>
<script>
apiready = function() {
  var vm = new Vue({
    el: '#vueBox',
    data: function () {
      return {
        datas: {
          newlesson: [{
            bookname: '无数据'
          }],
          category_list: [{}],
          articlelist: [
            {
              title: ''
            }
          ]
        }
      }
    },
    created: function () {
      this.getData()
    },
    methods: {
      goLesson: function () {
        api.openWin({
            name: '1lesson',
            url: '1.1lesson.html',
            pageParam: {
                name: 'classify'
            }
        });
      },
      goClassify: function () {
        api.openWin({
            name: 'classify',
            url: 'classify.html',
            pageParam: {
                name: 'classify'
            }
        });
      },
      getDate: function (num) {
        var dateNumber = Number(num)
        var date =  new Date(dateNumber);
        var y = 1900+date.getYear();
        var m = "0"+(date.getMonth()+1);
        var d = "0"+date.getDate();
        return y+"-"+m.substring(m.length-2,m.length)+"-"+d.substring(d.length-2,d.length);
      },
      getData: function () {
        var that = this
        api.ajax({
          url: 'http://shop.itischinese.com/app/index.php?i=2&c=entry&do=index2&m=fy_lessonv2&uid=20',
          method: 'get',
          data: {}
        }, function (ret, err) {
          if (ret) {
            that.datas = ret
          }
        })
      }
    }
  })
}


</script>
</html>
